server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    # This instance should not register itself with Eureka
    register-with-eureka: false
    # This instance should not fetch registry from other Eureka instances
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  server:
    # Disable self-preservation mode in development
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 3000
  instance:
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.netflix.eureka: OFF
    com.netflix.discovery: OFF